@font-face {
    font-family: ColfaxWeb;
    src: url(font/ColfaxWebRegularAlt.eot);
    src: url(font/ColfaxWebRegularAlt.eot?#iefix) format("embedded-opentype"),url(font/ColfaxWebRegularAlt.woff2) format("woff2"),url(font/ColfaxWebRegularAlt.woff) format("woff");
    font-weight: 400;
    font-style: normal
}
/*
@font-face {
    font-family: ColfaxWeb;
    src: url(font/ColfaxWebRegularItalic.eot);
    src: url(font/ColfaxWebRegularItalic.eot?#iefix) format("embedded-opentype"),url(font/ColfaxWebRegularItalic.woff2) format("woff2"),url(font/ColfaxWebRegularItalic.woff) format("woff");
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: ColfaxWeb;
    src: url(font/ColfaxWebMediumAlt.eot);
    src: url(font/ColfaxWebMediumAlt.eot?#iefix) format("embedded-opentype"),url(font/ColfaxWebMediumAlt.woff2) format("woff2"),url(font/ColfaxWebMediumAlt.woff) format("woff");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: ColfaxWeb;
    src: url(font/ColfaxWebMediumItalic.eot);
    src: url(font/ColfaxWebMediumItalic.eot?#iefix) format("embedded-opentype"),url(font/ColfaxWebMediumItalic.woff2) format("woff2"),url(font/ColfaxWebMediumItalic.woff) format("woff");
    font-weight: 500;
    font-style: italic
} */

html, body {
  /* font-family: 'Open Sans', sans-serif; */
  font-family: ColfaxWeb,'Open Sans',Helvetica,Arial,sans-serif;
  color: rgba(0, 0, 0, 0.87);
  /* background-color: rgb(250,250,250); */
}

.axis line, .axis path {
  display: none;
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  font-size: 12px;
  fill: #878796
}

.heatmap {
  position: relative;
  margin: 0 auto;
  text-align: center;
}
.heatmap video{
  width: initial
}

h1 {
  text-align: center;
  font-size: 26px;
  font-weight: 400;
  margin-top: 50px;
  margin-bottom: 30px;
  color: #505253;
}

h2 {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  margin-top: 25px;
  margin-bottom: 0px;
  color: #505253;
}

hr{
    width: 800px;
    border-top: 1px dashed #e1e1e1;
}
.video-container{
  text-align: center;
}
.note {
  width: 900px;
  margin: 0 auto;
  padding-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
}

.note p {
  line-height: 28px;
  font-weight: normal;
  font-size: 14px;
  /* padding: 0 40px; */
}

.note p a {
  text-decoration: none;
  color: #2196F3
}

.plotly{
  margin-bottom: 40px
}

.svg-container{
  margin: 0 auto !important;
}

.hovertext .nums{
  fill: rgb(255, 255, 255);
}

.multi_container{
    width: 100%;
    min-height: 500px;
}
.multi_container .multi{
    width: 1700px;
    margin: 0 auto;
}
.multi .conv1, .multi .conv2{
    float: left;
    position: relative;
}
.multi .conv1 .item, .multi .conv2 .item{
    float: left;
    width: 400px;
    margin: 10px
}